<div class="jumbotron">
  <h2>Welcome to SummitChat!</h2>
  <p class="lead">A demo application written in Phoenix.</p>
</div>

<p>We make use of Elixir's cheap processes to maintain web sockets for each logged in user.</p>
